.btnContainer {
  width: 60px;
  height: 30px;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btnContainer:hover {
  cursor: pointer;
}
.default {
  border: 1px solid var(----light-taupe, #bfaea3);
  background: var(----white, #fff);

  color: var(----light-taupe, #bfaea3);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.chosen {
  border: 1px solid var(----warm-beige, #eed9c4);
  background: var(----light-taupe, #bfaea3);

  color: var(----off-white, #f8f5f2);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
