.header2Container {
  width: 90vw;
  height: 80vh;
  margin-left: auto;
  margin-right: -8px;

  position: relative;
  background: url('/photos/02.jpg') 50% / cover no-repeat;

  padding-top: 30px;

  .photoText {
    padding-left: 12px;
    margin-bottom: 28px;
    width: max-content;
  }
  .subText {
    background: var(----off-white, #f8f5f2);
    padding-top: 6px;
    padding-bottom: 6px;
  }
}
@media screen and (max-width: 1160px) {
  .header2Container {
    height: 100vh;

    .photoText {
      width: 70vw;
      position: absolute;
      top: 70%;
    }
    .subText {
      position: absolute;
      top: 85%;
    }
  }
}
