.scheduleContainer {
  margin: 0 32vw;
  display: flex;
  flex-direction: column;
  gap: 60px;
  .scheduleCardList {
    display: flex;
    flex-direction: row;
    gap: 15vw;
    .date {
      display: flex;
      flex-direction: column;
      gap: 24px;

      .timeBg {
        background: url(/schTimeBg.png) 50% / cover no-repeat;
        width: 80px;
        height: 84px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 2px;

        .timeText {
          margin-left: 6px;
          margin-top: 3px;
        }
      }
    }
    .content {
      display: flex;
      flex-direction: column;
      // align-items: flex-start;
      gap: 24px;
      .contentText {
        height: 84px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
      }
    }
  }
}
@media screen and (max-width: 1160px) {
  .scheduleContainer {
    margin: 0 15vw;
    gap: 24px;
  }
}
